@keyframes heartbeat {
  0% {
    transform: scale(1); /* Обычный размер */
  }
  30% {
    transform: scale(1.1); /* Лёгкое увеличение */
  }
  60% {
    transform: scale(1); /* Возврат к обычному размеру */
  }
  100% {
    transform: scale(1); /* Завершение цикла */
  }
}



@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(30vw, 20vh); /* Случайная точка */
  }
  50% {
    transform: translate(-20vw, -30vh); /* Случайная точка */
  }
  75% {
    transform: translate(40vw, -10vh); /* Случайная точка */
  }
  100% {
    transform: translate(0, 0); /* Возврат к начальной точке */
  }
}